{% extends 'mybase.html' %}
{% load staticfiles %}
{% load i18n admin_static %}



{% block body_block %}

<div class="row">

<form action="" method="post">
{% csrf_token %}

<div class="col-md-1"></div>
<div class="col-md-4">

<h2>Change Your Password</h2>

<fieldset class="module aligned wide">
<br/>
<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
    <input type="password" class="form-control" id="id_old_password" placeholder="Old Password" name="old_password">
</div>
<br/>
<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
    <input type="password" class="form-control" id="id_new_password1" placeholder="New Password" name="new_password1">
    
</div>
<br/>
<div class="form-row">
{{ form.new_password2.errors }}
	<label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>
	<input type="password" class="form-control" id="id_new_password2" placeholder="Reenter New Password" name="new_password2">
</div>

</fieldset>
<br/>
<div class="submit-row">
    <input class="btn btn-success" type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

</div></div>



</form></div>




<br/><br/><br/><br/><br/><br/>

{% endblock %}
