{% extends 'mybase.html' %}

{% load staticfiles %}
{% block body_block %}




    <section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About Us</h1>
                    <p>This is also a static page. It will give all the info including contact of Complaint Portal</p>
                </div>
                
            </div>
        </div>
    </section><!--/#title-->

   

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>    


{% endblock %}