{% extends 'mybase.html' %}

{% load staticfiles %}

{% block body_block %}



      <!--   <form id="complaints_form" method="post" action="/gwalior/add_complaint/">
        	{% csrf_token %}

        	{% if user.is_authenticated %}
            {{ form.type_of_complaint.label }}
            {{ form.type_of_complaint }}
            <br/>
            {{ form.complaint_title.label }}
            {{ form.complaint_title }}
            <br/>
            {{ form.complaint_desc.label }}
            {{ form.complaint_desc }}
            <br/>

            {% else %}





            {{ form.as_p }}

            {% endif %}

            <input type="submit" name="submit" value="Submit Your Complaint" />
        </form> -->


   



<div class="row">

<center><h2>File Your Complaint</h2></center>
<br/>
<form id="complaints_form" method="post" action="/gwalior/add_complaint/">
{% csrf_token %}
    <div class="col-md-2"></div>
    <div class="col-md-4">

    <div class="form-group">
        <input type="text" id="first_name" name="first_name" placeholder="First Name" class="form-control" value={{ info.first_name }}>
        {{ form.first_name.errors }}

    </div>
 
    <div class="form-group">
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="form-control" value={{ info.last_name }}>
        {{ form.last_name.errors }}
      </div>


    {% if user.is_authenticated %}

    <div class="form-group">
        <input type="text" id="username" name="username" placeholder="username" class="form-control"  value={{ user.username }} readonly>
        {{ form.username.errors }}
    </div>

    {% endif %}


     <div class="form-group">
        <select id="gender" name="gender" class="form-control" value={{ info.gender }}>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        {{ form.gender.errors }}
    </div>

   <div class="form-group">
        <input type="text" id="age" name="age" placeholder="Age" class="form-control" value={{ info.age }}>
        {{ form.age.errors }}
      </div>

    
    <div class="form-group">
        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value={{ info.address }}>
        {{ form.address.errors }}
      </div>
 

    <div class="form-group">
        <input type="text" id="area" name="area" placeholder="Area" class="form-control" value={{ info.area }}>
        {{ form.area.errors }}
      </div>


    <div class="form-group">
        <input type="text" id="pin" name="pin" placeholder="Pin" class="form-control" value={{ info.pin }}>
        {{ form.pin.errors }}
      </div>


    <div class="form-group">
        <input type="text" id="telephone" name="telephone" placeholder="Telephone" class="form-control" value={{ info.telephone }}>
        {{ form.telephone.errors }}
      </div>
 

    <div class="form-group">
        <input type="text" id="mobile" name="mobile" placeholder="Mobile" class="form-control" value={{ info.mobile }}>
        {{ form.mobile.errors }}
      </div>



    <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Email" class="form-control" value={{ user.email }}>
        {{ form.email.errors }}
      </div>
 
</div>
<div class="col-md-1"></div>
<div class="col-md-4">


    <div class="form-group">
        <select id="type_of_complaint" name="type_of_complaint" class="form-control">
            <option value="CA">Civic Amenities</option>
            <option value="ED">Education</option>
            <option value="EN">Environment</option>
            <option value="HO">Hospital</option>
            <option value="JA">Jail</option>
            <option value="OT">Others</option>
            <option value="PO">Police</option>
            <option value="SE">Service</option>
        </select>
        {{ form.type_of_complaint.errors }}
      </div>


     <div class="form-group">
        <input type="text" id="complaint_title" name="complaint_title" placeholder="Complaint Subject" class="form-control" >
        {{ form.complaint_title.errors }}
      </div>


    <div class="form-group">
    <textarea class="form-control" id="complaint_desc" name="complaint_desc" placeholder="Complaint Description" rows="17" cols="30"></textarea>
  {{ form.complaint_desc.errors }}
  </div>
    
 
    
    
 
    <div class="form-group">
      <!-- Button -->
      <input class="btn btn-primary btn-block" type="submit" name="submit" value="Submit Your Complaint" />
    </div>

</div>

</form>



</div>





{% endblock %}


